data/__pycache__/
data/images_01.tar.gz
data/images_02.tar.gz
data/images_03.tar.gz
data/images_04.tar.gz
data/images_05.tar.gz
data/images_06.tar.gz
data/images_07.tar.gz
data/images_08.tar.gz
data/images_09.tar.gz
data/images_10.tar.gz
data/images_11.tar.gz
data/images_12.tar.gz
__pycache__

